@model ATM.Models.CreditCard

@{
    ViewData["Title"] = "Pin";
}

<h1>Pin</h1>
<hr />

<h4>Please input your card PIN-code</h4>
<hr />
<div class="row">
    <div class="col-md-4 margin-top-20"></div>
    <div class="col-md-4 margin-top-20">
        <form asp-action="Pin" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pin" class="control-label"></label>
                <input asp-for="Pin" type="password" class="form-control text-center" data-type="Pin" id="use-numpad" />
                <span asp-validation-for="Pin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_NumPadPin" />
            </div>
            <div class="form-group">
                <input type="submit" value="OK" class="btn btn-primary btn-block" />
            </div>
        </form>
        <a href="Index"><div class="btn btn-primary btn-block">Exit</div></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
