@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="~/Home/"><div class="btn btn-primary btn-block margin-top-20">Home page</div></a>
    <a href="~/CreditCards/"><div class="btn btn-primary btn-block margin-top-20">Credit cards CRUD</div></a>
    <a href="~/ActionResults/"><div class="btn btn-primary btn-block margin-top-20">User action results CRUD</div></a>
    <a href="~/Terminal/"><div class="btn btn-primary btn-block margin-top-20">Terminal UI</div></a>
</div>
