@{
    ViewData["Title"] = "Error";
}

<h1>@ViewData["ErrorMessage"]</h1>

<div>
    <div class="row">
        <div class="col-md-4 margin-top-20"></div>
        <div class="col-md-4 margin-top-20">
            @if (Model.ShowErrorMessage)
            {
                <h4>
                    <strong>@Model.ErrorMessage</strong>
                </h4>
            }
            <button class="btn btn-primary btn-block margin-top-20" onclick="goBack()">Back</button>
            <a href="Index"><div class="btn btn-primary btn-block margin-top-20">Exit</div></a>
        </div>
    </div>
</div>