@model ATM.DataAccess.Models.WithdrawalResultViewModel

@{
    ViewData["Title"] = "Withdraw";
}

<h1>Withdraw</h1>

<h4>Please input amount you want to withdraw</h4>
<hr />
<div class="row">
    <div class="col-md-4 margin-top-20"></div>
    <div class="col-md-4 margin-top-20">
        <form asp-action="Withdraw" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WithdrawalAmount" class="control-label"></label>
                <input asp-for="WithdrawalAmount" class="form-control" data-type="currency" placeholder="1,000.00" id="use-numpad" />
                <span asp-validation-for="WithdrawalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <partial name="_NumPadCurrency" />
            </div>
            <div class="form-group">
                <input type="submit" value="OK" class="btn btn-primary btn-block" />
            </div>
        </form>
        <a href="Menu"><div class="btn btn-primary btn-block margin-top-20">Back</div></a>
        <a href="Index"><div class="btn btn-primary btn-block margin-top-20">Exit</div></a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
