@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <div class="row">
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">1</div>
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">2</div>
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">3</div>
    </div>
    <div class="row">
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">4</div>
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">5</div>
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">6</div>
    </div>
    <div class="row">
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">7</div>
        <div class="margin-5 btn btn-primary col " onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">8</div>
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">9</div>
    </div>
    <div class="row align-self-center">
        <div class="margin-5 btn btn-primary col" onclick="addNumberCurrency(document.getElementById('use-numpad'), this.innerHTML)">0</div>
        <div class="margin-5 btn btn-primary col" onclick="clearInput(document.getElementById('use-numpad'))">Clear</div>
    </div>
</div>

<script>
    function addNumberCurrency(input, num) {
        input.value += num;
        fc(input);
    }

    function fc(input) {
        var input_val = input.value;
        if (input_val === "") { return; }
        if (input_val.length > 10) input_val = input_val.substring(0, 10);

        input_val = formatNumber(input_val);
        input.value = input_val;
    }
</script>