@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container border">
    <div class="row">
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">1</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">2</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">3</a>
    </div>
    <div class="row">
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">4</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">5</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">6</a>
    </div>
    <div class="row">
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">7</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">8</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">9</a>
    </div>
    <div class="row align-self-center">
        <a href="#" class="margin-5 btn btn-primary col" onclick="addNumberCreditCard(document.getElementById('use-numpad'), this.innerHTML)">0</a>
        <a href="#" class="margin-5 btn btn-primary col" onclick="clearInput(document.getElementById('use-numpad'))">Clear</a>
    </div>
</div>

<script>
    function addNumberCreditCard(input, num) {
        input.value += num;
        fcc(input);
    }

    function fcc(input) {
        var input_val = input.value;
        if (input_val === "") { return; }
        if (input_val.length > 19) input_val = input_val.substring(0, 19);

        input_val = formatCreditCardNumber(input_val);
        input.value = input_val;
    }
</script>